# retain windows line-endings in case checked out on mac or linux
* text eol=crlf
.git/hooks/* text eol=lf

# images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary

# force encoding
*.reg text working-tree-encoding=UTF-16
